@using hm7
@model UserProfile

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>


@using (Html.BeginForm())
{
    @Html.MyEditorForModel()
    <div class="form-group" style="margin-top: 10px;">
        <input type="Submit" text="Submit query">
    </div>
}